@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nisses Constructions Company</h1>

    <div class="bygg-bild">
        <img src="~/images/bygg.jpg" alt="bygg" />
    </div>
</div>
